In [6]:
import pandas as pd
import numpy as np

a = {'A': [np.nan, 2, 3, 4, 5, np.nan], 'B': ['a', 'a', np.nan, 'b', 'b', 'b'], 'C': [np.nan, 1.5, -0.3, 1, np.nan, np.nan]}
df = pd.DataFrame(a)
df

     A    B    C
0  NaN    a  NaN
1  2.0    a  1.5
2  3.0  NaN -0.3
3  4.0    b  1.0
4  5.0    b  NaN
5  NaN    b  NaN